<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create province</title>
</head>
<body>
<a th:text="#{language}"></a>: <a href="?lang=en">English</a> |  <a href="?lang=vi">Vietnamese</a>
<h1 th:text="#{Create-new-province}"></h1>
<p>
    <a href="/provinces" th:text="#{Province-list}"></a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-province}" th:object="${province}" method="post">
    <table>
        <tr>
            <td th:text="#{Name}"></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{Create-new-province}"/></td>
        </tr>
    </table>
</form>
</body>
</html>