<h2>Countdown</h2>

<nav>
  <ul>
    <li><a  routerLink="/CountdownTimerComponent" >CountdownTimerComponent </a></li>
    <li><a routerLink="/CountdownTimerAliasComponent">CountdownTimerAliasComponent </a></li>
    <li><a routerLink="/CountdownTimerEventComponent">CountdownTimerEventComponent </a></li>
    <li><a routerLink="/CountdownTimerEventAliasComponent">CountdownTimerEventAliasComponent </a></li>
    <li><a routerLink="/CountdownTimerGetSetComponent">CountdownTimerGetSetComponent </a></li>
    <li><a routerLink="/CountdownTimerOnchangesComponent">CountdownTimerOnchangesComponent </a></li>
  </ul>
</nav>
<router-outlet >
</router-outlet>

